In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('raw_spectral_data.csv')

In [4]:
data

       Wvl  Sample_4  Sample_5
0      350  0.013218  0.170988
1      351  0.013149  0.171077
2      352  0.013065  0.170894
3      353  0.012954  0.170898
4      354  0.012822  0.170812
...    ...       ...       ...
2146  2496  0.042100  0.182279
2147  2497  0.155680  0.203723
2148  2498  0.252083  0.247827
2149  2499  0.305209  0.299367
2150  2500  0.370218  0.370218

[2151 rows x 3 columns]