# The Series Data Structure

In [1]:
import pandas as pd

In [2]:
students = ['Alice','Jack','Molly']

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
numbers = [1, 2, 3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
students = ['Alice', 'Jack', None]

pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [6]:
numbers = [1, 2, None]

pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np

np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [10]:
students_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English'}
s = pd.Series(students_scores)

In [11]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [12]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [14]:
students = [("Alice","Brown"),("Jack","White"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [15]:
s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [16]:
students_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English'}

s = pd.Series(students_scores, index=['Alice', 'Molly', 'Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

# Querying a Series

In [18]:
students_classes = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English',
                   'Sam': "History"}
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [19]:
s.iloc[3]

'History'

In [20]:
s.loc['Molly']

'English'

In [21]:
s[3]

'History'

In [22]:
s['Molly']

'English'

In [23]:
class_code = {99: 'Physics',
             100: 'Chemistry',
             101: 'English',
             102: 'History'}
s = pd.Series(class_code)

In [24]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [25]:
import numpy as np

In [26]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [29]:
numbers = pd.Series(np.random.randint(0,1000,10000))

numbers.head()

0    496
1    376
2    265
3    302
4    938
dtype: int32

In [30]:
len(numbers)

10000

In [31]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number
total/len(numbers)

1.27 ms ± 144 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

69.6 µs ± 7.99 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [34]:
numbers.head()

0    496
1    376
2    265
3    302
4    938
dtype: int32

In [35]:
numbers+=2
numbers.head()

0    498
1    378
2    267
3    304
4    940
dtype: int32

In [36]:
for label, value in numbers.iteritems():
    numbers.set_value(label, value+2)

numbers.head()

AttributeError: 'Series' object has no attribute 'set_value'

In [37]:
s = pd.Series([1, 2, 3])

s.loc['Histroy'] = 102

s

0            1
1            2
2            3
Histroy    102
dtype: int64

In [42]:
students_classes = pd.Series({'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English',
                   'Sam': "History"})

In [43]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [44]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly','Kelly','Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [46]:
all_students_classes = students_classes.append(kelly_classes)

all_students_classes

C:\Users\ZhangXY\AppData\Local\Temp\ipykernel_20796\3199303492.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_students_classes = students_classes.append(kelly_classes)

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [47]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [48]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object